In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pystan

In [4]:
def read_data():
    file = '../data/chapter01/data.csv'
    df = pd.read_csv(file)
    
    return df

In [5]:
df = read_data()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AV      123 non-null    int64
 1   sex     123 non-null    int64
 2   lover   123 non-null    int64
dtypes: int64(3)
memory usage: 3.0 KB

In [9]:
df.head()

   AV  sex  lover
0   6    0      1
1  -9    0      1
2  -3    0      0
3  -3    0      0
4   8    1      0

In [10]:
df.describe()

               AV         sex       lover
count  123.000000  123.000000  123.000000
mean     8.260163    0.357724    0.292683
std     11.900432    0.481291    0.456855
min    -12.000000    0.000000    0.000000
25%     -1.000000    0.000000    0.000000
50%      8.000000    0.000000    0.000000
75%     14.500000    1.000000    1.000000
max     51.000000    1.000000    1.000000

In [13]:
df.groupby(['sex','lover']).count().unstack()

       AV
lover   0   1
sex
0      54  25
1      33  11

In [14]:
df.groupby(['sex','lover']).mean().unstack()

              AV
lover          0          1
sex
0       4.444444   4.800000
1      13.606061  18.818182

In [17]:
df.groupby(['sex']).mean()['AV']

sex
0     4.556962
1    14.909091
Name: AV, dtype: float64

In [ ]:
model = """
    data {
        int<lower=0> N;
        int<lower=0>M;
        matrix[N, M] X;
        vector[N] y;
    }
    parameters { 
        real beta_0;
        vector[M] beta;
        real<lower=0> sigma;
    }
    model { 
        for (i in 1:N)
            y[i] ~ normal(beta_0 + dot_product(X[i] , beta), sigma);
    }
"""